{% extends "base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style type="text/css">
        .slider { 
          z-index: 0;
        }
    </style>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div id="parent">
        <div class="slider fullscreen" id="wide">
            <ul class="slides">
            <li>
                <img src="{% static 'img/Poll-Question.jpg' %}">
                <div class="caption center-align">
                    <h3 class="black-text">Ask Questions!</h3>
                    <h5 class="light grey-text text-darken-3">Its free and its huge.</h5>
                </div>
            </li>
            <li>
                <img src="{% static 'img/Poll-Question2.jpg' %}">
                <div class="caption right-align">
                    <h3 class="grey-text">Observe Insights!</h3>
                    <h5 class="light grey-text text-darken-3">Get to know people's opinion.</h5>
                </div>
            </li>
            <li>
                <img src="{% static 'img/Poll-Question3.jpg' %}">
                <div class="caption center-align">
                    <h3 class="black-text">Get to know People!</h3>
                    <h5 class="light grey-text text-lighten-3">Have everybody to depend on.</h5>
                </div>
            </li>
            </ul>
        </div>
        <div id="narrow">
            <div class="login-page">
                <div class="form">
                    <form class="login-form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" id="username" value="{{ username }}"/>
                        <input type="password" placeholder="Password" name="password" id="password"/>
                        <p class="error">{{ error_message }}</p>
                        {{ success }}
                        <button>login</button>
                    </form>
                </div>
                <div class="form">
                    <form class="register-form" action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="First Name" name="first_name" value="{{ first_name }}" required/>
                        <input type="text" placeholder="Last Name" name="last_name" value="{{ last_name }}" required/>
                        <input type="text" placeholder="Username" name="username" id="username1" required/>
                        <input type="password" placeholder="Password" name="password" required/>
                        <input type="password" placeholder="Confirm Password" name="confirm" required/>
                        <input type="text" placeholder="E-mail Address" name="email" required/>
                        <p class="error" id="signup-error" type="hidden">{{ sign_error_message }}</p>
                        <button>create</button>
                        <!-- <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript">
        $(function(ready){
        $("#username1").change(function () {
            var username = $(this).val();
            console.log("here");

            $.ajax({
                url: "{% url 'validate_username' %}",
                data: {
                    'username': username
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#signup-error").show();
                        $("#signup-error").text('Username already exist!')
                    } else {
                        $("#signup-error").hide();
                    }
                }
            });
        });
    });
    </script>
    <script>
       $(document).ready(function () {
           $('.slider').slider({full_width: true});
       });
    </script>
{% endblock %}