{% extends "base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style type="text/css">
        .below { 
          z-index: 99;
        }
    </style>
{% endblock %}


{% block content %}
    {% load static %}
        <ul id="slide-out" class="side-nav fixed grey darken-1 below">
            <br><br><br>
            <center><li><img src="{{ user.profile.avatar_url }}" alt="" class="circle responsive-img" style="height:250px; width:250px;"></li></center>
            <center><li><h5 class="white-text" style="font-size: 150%">{{ user.get_full_name }}</h5></li></center>
            <center><li><i><h5 class="white-text" style="font-size: 100%">({{ user.username }})</h5></i></li></center>
            <center><li><hr class="style14" style="margin-left: 6%; margin-right: 6%"></center><h5 class="white-text" style="font-size: 70%">
                    <i class="tiny material-icons" id="icon-white" style="margin-left: 6%; margin-right: 6%">email</i>{{ user.email }}</h5></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse" style="background-color:#2980B9"><i class="material-icons white-text">menu</i></a>
        <div class="row">
            <div class="col l9 m12" style="float: right">
                <h2 style="color: black; font-family: Quicksand">{{ user.first_name }}'s Polls</h2>
                {% for temp_question1, temp_question2 in questions %}
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card loadable" id="loadable-{{ temp_question1.id }}" style="background-color:{{ temp_question1.card_color }}">
                                <form class="response-form" method="POST" action="{% url 'respond' temp_question1.id %}">
                                    {% csrf_token %}
                                    {% if temp_question1.answered %}
                                    <div class="card-content white-text" id="card-{{ temp_question1.id }}" disabled>
                                    {% else %}
                                    <div class="card-content white-text" id="card-{{ temp_question1.id }}">
                                    {% endif %}
                                        <input type="hidden" id="hidden-{{ temp_question1.id }}">
                                        <span class="card-title">
                                            <div class="row valign-wrapper">
                                                <div class="col s2">
                                                    <img src="{{ temp_question1.user_owner.profile.avatar_url }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s10">
                                                    {{ temp_question1.user_owner.username }}
                                                    <h6 class="grey-text text-lighten-2">{{ temp_question1.when_created }}</h6>
                                                </div>
                                            </div>
                                        </span>
                                        <p>{{ temp_question1.question_text }}</p>
                                        {% for single_choice in temp_question1.Choices.all %}
                                            <p>
                                                {% if not temp_question1.multiple_answer %}
                                                    <input type="radio" class="with-gap choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
                                                {% else %}
                                                    <input type="checkbox" class="filled-in choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
                                                {% endif %}
                                                <label for="choice-{{ single_choice.id }}" style="color: white;">{{ single_choice.choice_text }}</label>
                                            </p>
                                        {% endfor %}
                                        <p class="error" id="response-error-{{ temp_question1.id }}" type="hidden">
                                        {% if temp_question1.answered %}
                                        Your response has been recorded
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <div class="row">
                                            {% if temp_question1.answered %}
                                            <button class="waves-effect waves-light btn col l5 m4 s12 hoverable edit-button" id="edit-{{ temp_question1.id }}" type="button" onclick='edit(this.id)'><i class="material-icons left">edit</i>Edit</button>
                                            {% else %}
                                            <button class="waves-effect waves-light btn col l5 m4 s12 hoverable" id="submit-{{ temp_question1.id }}"><i class="material-icons left">assessment</i>Respond</button>
                                            {% endif %}
                                            <a href="{% url 'question' temp_question1.id %}"><button class="waves-effect waves-light btn col l4 m4 s12 hoverable" type="button"><i class="material-icons left">visibility</i>View</button></a>
                                            <div class="white-text col l3 m4 s12"><i class="material-icons left">supervisor_account</i><h6 id="number-{{ temp_question1.id }}">{{ temp_question1.respondent_count }}</h6></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if temp_question1.answered %}
                            <script type="text/javascript">
                                $("#loadable-{{ temp_question1.id }} #hidden-{{ temp_question1.id }}").load("{% url 'get_answers' temp_question1.id %}", function (response) {
                                    jsonObjArr = $.parseJSON(response).answers;
                                    for (var i = jsonObjArr.length - 1; i >= 0; i--) {
                                        $("#choice-"+jsonObjArr[i]).prop('checked', true);
                                    };
                                });
                            </script>
                            {% endif %}
                        </div>
                        {% if temp_question2 %}
                        <div class="col s12 m6">
                            <div class="card loadable" id="loadable-{{ temp_question2.id }}" style="background-color:{{ temp_question2.card_color }}">
                                <form class="response-form" method="POST" action="{% url 'respond' temp_question2.id %}">
                                    {% csrf_token %}
                                    {% if temp_question2.answered %}
                                    <div class="card-content white-text" id="card-{{ temp_question2.id }}" disabled>
                                    {% else %}
                                    <div class="card-content white-text" id="card-{{ temp_question2.id }}">
                                    {% endif %}
                                        <input type="hidden" id="hidden-{{ temp_question2.id }}">
                                        <span class="card-title">
                                            <div class="row valign-wrapper">
                                                <div class="col s2">
                                                    <img src="{{ temp_question2.user_owner.profile.avatar_url }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s10">
                                                    {{ temp_question2.user_owner.username }}
                                                    <h6 class="grey-text text-lighten-2">{{ temp_question2.when_created }}</h6>
                                                </div>
                                            </div>
                                        </span>
                                        <p>{{ temp_question2.question_text }}</p>
                                        {% for single_choice in temp_question2.Choices.all %}
                                            <p>
                                                {% if not temp_question2.multiple_answer %}
                                                    <input type="radio" class="with-gap choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
                                                {% else %}
                                                    <input type="checkbox" class="filled-in choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
                                                {% endif %}
                                                <label for="choice-{{ single_choice.id }}" style="color: white;">{{ single_choice.choice_text }}</label>
                                            </p>
                                        {% endfor %}
                                        <p class="error" id="response-error-{{ temp_question2.id }}" type="hidden">
                                        {% if temp_question2.answered %}
                                        Your response has been recorded
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <div class="row">
                                            {% if temp_question2.answered %}
                                            <button class="waves-effect waves-light btn col l5 m4 s12 hoverable edit-button" id="edit-{{ temp_question2.id }}" type="button" onclick='edit(this.id)'><i class="material-icons left">edit</i>Edit</button>
                                            {% else %}
                                            <button class="waves-effect waves-light btn col l5 m4 s12 hoverable" id="submit-{{ temp_question2.id }}"><i class="material-icons left">assessment</i>Respond</button>
                                            {% endif %}
                                            <a href="{% url 'question' temp_question2.id %}"><button class="waves-effect waves-light btn col l4 m4 s12 hoverable" type="button"><i class="material-icons left">visibility</i>View</button></a>
                                            <div class="white-text col l3 m4 s12"><i class="material-icons left">supervisor_account</i><h6 id="number-{{ temp_question2.id }}">{{ temp_question2.respondent_count }}</h6></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if temp_question2.answered %}
                            <script type="text/javascript">
                                $("#loadable-{{ temp_question2.id }} #hidden-{{ temp_question2.id }}").load("{% url 'get_answers' temp_question2.id %}", function (response) {
                                    jsonObjArr = $.parseJSON(response).answers;
                                    for (var i = jsonObjArr.length - 1; i >= 0; i--) {
                                        $("#choice-"+jsonObjArr[i]).prop('checked', true);
                                    };
                                });
                            </script>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <input type="hidden" id="refreshed" value="no">

        <script type="text/javascript">
            onload=function(){
                var e=document.getElementById("refreshed");
                if(e.value=="no")e.value="yes";
                else{e.value="no";location.reload();}
            }
        </script>
    
{% endblock %}

{% block js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}