{% extends "base.html" %}

{% block styles %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}

{% block content %}
	<div class="row container">
		<form action = "{% url 'index' %}" method="POST">
			{% csrf_token %}
			<div class="card">
				<div class="card-content container">
					<span class="card-title">Create Poll</span>
					<div class="input-field">
			            <textarea id="textarea1" name="question" class="materialize-textarea" data-length="200">{{ question }}</textarea>
			            <label for="textarea1">Write Question</label>
		          	</div>
		          	<input type="hidden" id="no_of_choices" name="no_of_choices" value="0">
		        	<ul id="choices_space">
		        		<li>
		        			<div class="input-field">
			        			<i class="material-icons prefix">input</i>
			        			<input placeholder="Enter a Choice" id="id0" name="id0" type="text" oninput="blurFunction()" onblur="blurFunction()">
			        		</div>
			        	</li>
		        	</ul>
		        	<div class="row">
			        	<div class="input-field col s12 m6">
		   					<input id="end-date" class="datepicker" name="end_date" type="date" required>
		   					<label for="end-date">End Date</label>
		   				</div>
		   				<div class="input-field col s12 m6">
	                        <label for="end_time">End Time</label>
	                        <input id="end_time" class="timepicker" name="end_time" type="time" required>
                    	</div>
	   				</div>
		        	<p>
						<input type="checkbox" class="filled-in" id="filled-in-box" name="multiple"/>
						<label for="filled-in-box">Multiple Answer</label>
	   				</p>
	   				
	   				 <span class="red-text">{{ error }}</span>
	   				 <br>
	   				 <p>CARD COLOR:</p>
	   				 <div class="row">
                    	<div id="apnd">
                    		{% for pos_color, trash in colors %}
                    		<div class="palette" style="background-color: {{ pos_color }}; margin-left: 10px"></div>
                    		{% endfor %}
						  	<input type="hidden" id="pseudo" name="color" value="#D98880">
						</div>
						<br><br>
						<div class="input-field col s6">
	                    	<div id="display" class="row container">
								<div class="card-content white-text">
									<span class="card-title">
										<div class="row valign-wrapper">
											<div class="col s2">
									        	<img src="{{ user.profile.avatar_url }}" alt="" class="circle responsive-img"> 
									        </div>
									        <div class="col s10">
												{{ username }}
											</div>
										</div>
									</span>
								</div>
	                    	</div>
                    	</div>
                    	
	   				</div>
			    </div>
			    <div class="card-action">
					<button class="waves-effect waves-light btn"><i class="material-icons left">assessment</i>Create Poll</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
	{% for temp_question1, temp_question2 in questions %}
        <div class="row">
			<div class="col s12 m6">
				<div class="card loadable" id="loadable-{{ temp_question1.id }}" style="background-color:{{ temp_question1.card_color }}">
					<form class="response-form" method="POST" action="{% url 'respond' temp_question1.id %}">
						{% csrf_token %}
						{% if temp_question1.answered %}
						<div class="card-content white-text" id="card-{{ temp_question1.id }}" disabled>
						{% else %}
						<div class="card-content white-text" id="card-{{ temp_question1.id }}">
						{% endif %}
							<input type="hidden" id="hidden-{{ temp_question1.id }}">
							<span class="card-title">
								<div class="row valign-wrapper">
									<div class="col s2">
							        	<img src="{{ temp_question1.user_owner.profile.avatar_url }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
							        </div>
							        <div class="col s10">
										<a href="{% url 'profile' temp_question1.user_owner.username %}">{{ temp_question1.user_owner.username }}</a>
										<h6 class="grey-text text-lighten-2">{{ temp_question1.when_created }}</h6>
									</div>
								</div>
							</span>
							<p>{{ temp_question1.question_text }}</p>
							{% for single_choice in temp_question1.Choices.all %}
								<p>
									{% if not temp_question1.multiple_answer %}
										<input type="radio" class="with-gap choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
									{% else %}
										<input type="checkbox" class="filled-in choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
									{% endif %}
									<label for="choice-{{ single_choice.id }}" style="color: white;">{{ single_choice.choice_text }}</label>
							    </p>
							{% endfor %}
							<p class="error" id="response-error-{{ temp_question1.id }}" type="hidden">
							{% if temp_question1.answered %}
							Your response has been recorded
							{% endif %}
							</p>
						</div>
						<div class="card-action">
							<div class="row">
								{% if temp_question1.answered %}
								<button class="waves-effect waves-light btn col l5 m4 s12 hoverable edit-button" id="edit-{{ temp_question1.id }}" type="button" onclick='edit(this.id)'><i class="material-icons left">edit</i>Edit</button>
								{% else %}
								<button class="waves-effect waves-light btn col l5 m4 s12 hoverable" id="submit-{{ temp_question1.id }}"><i class="material-icons left">assessment</i>Respond</button>
								{% endif %}
								<a href="{% url 'question' temp_question1.id %}"><button class="waves-effect waves-light btn col l4 m4 s12 hoverable" type="button"><i class="material-icons left">visibility</i>View</button></a>
								<div class="white-text col l3 m4 s12"><i class="material-icons left">supervisor_account</i><h6 id="number-{{ temp_question1.id }}">{{ temp_question1.respondent_count }}</h6></div>
							</div>
						</div>
					</form>
				</div>
				{% if temp_question1.answered %}
				<script type="text/javascript">
					$("#loadable-{{ temp_question1.id }} #hidden-{{ temp_question1.id }}").load("{% url 'get_answers' temp_question1.id %}", function (response) {
						jsonObjArr = $.parseJSON(response).answers;
						for (var i = jsonObjArr.length - 1; i >= 0; i--) {
							$("#choice-"+jsonObjArr[i]).prop('checked', true);
						};
					});
				</script>
				{% endif %}
			</div>
			{% if temp_question2 %}
			<div class="col s12 m6">
				<div class="card loadable" id="loadable-{{ temp_question2.id }}" style="background-color:{{ temp_question2.card_color }}">
					<form class="response-form" method="POST" action="{% url 'respond' temp_question2.id %}">
						{% csrf_token %}
						{% if temp_question2.answered %}
						<div class="card-content white-text" id="card-{{ temp_question2.id }}" disabled>
						{% else %}
						<div class="card-content white-text" id="card-{{ temp_question2.id }}">
						{% endif %}
							<input type="hidden" id="hidden-{{ temp_question2.id }}">
							<span class="card-title">
								<div class="row valign-wrapper">
									<div class="col s2">
							        	<img src="{{ temp_question2.user_owner.profile.avatar_url }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
							        </div>
							        <div class="col s10">
										<a href="{% url 'profile' temp_question2.user_owner.username %}">{{ temp_question2.user_owner.username }}</a>
										<h6 class="grey-text text-lighten-2">{{ temp_question2.when_created }}</h6>
									</div>
								</div>
							</span>
							<p>{{ temp_question2.question_text }}</p>
							{% for single_choice in temp_question2.Choices.all %}
								<p>
									{% if not temp_question2.multiple_answer %}
										<input type="radio" class="with-gap choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
									{% else %}
										<input type="checkbox" class="filled-in choice" id="choice-{{ single_choice.id }}" value="{{ single_choice.id }}" name="response"/>
									{% endif %}
									<label for="choice-{{ single_choice.id }}" style="color: white;">{{ single_choice.choice_text }}</label>
							    </p>
							{% endfor %}
							<p class="error" id="response-error-{{ temp_question2.id }}" type="hidden">
							{% if temp_question2.answered %}
							Your response has been recorded
							{% endif %}
							</p>
						</div>
						<div class="card-action">
							<div class="row">
								{% if temp_question2.answered %}
								<button class="waves-effect waves-light btn col l5 m4 s12 hoverable edit-button" id="edit-{{ temp_question2.id }}" type="button" onclick='edit(this.id)'><i class="material-icons left">edit</i>Edit</button>
								{% else %}
								<button class="waves-effect waves-light btn col l5 m4 s12 hoverable" id="submit-{{ temp_question2.id }}"><i class="material-icons left">assessment</i>Respond</button>
								{% endif %}
								<a href="{% url 'question' temp_question2.id %}"><button class="waves-effect waves-light btn col l4 m4 s12 hoverable" type="button"><i class="material-icons left">visibility</i>View</button></a>
								<div class="white-text col l3 m4 s12"><i class="material-icons left">supervisor_account</i><h6 id="number-{{ temp_question2.id }}">{{ temp_question2.respondent_count }}</h6></div>
							</div>
						</div>
					</form>
				</div>
				{% if temp_question2.answered %}
				<script type="text/javascript">
					$("#loadable-{{ temp_question2.id }} #hidden-{{ temp_question2.id }}").load("{% url 'get_answers' temp_question2.id %}", function (response) {
						jsonObjArr = $.parseJSON(response).answers;
						for (var i = jsonObjArr.length - 1; i >= 0; i--) {
							$("#choice-"+jsonObjArr[i]).prop('checked', true);
						};
					});
				</script>
				{% endif %}
			</div>
			{% endif %}
    	</div>
    {% endfor %}
    	{% if pages.has_other_pages %}
	    <center><ul class="pagination">
	    	{% if pages.has_previous %}
				<li class="waves-effect"><a href="{% url 'index' pages.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
			{% else %}
				<li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
			{% endif %}
			{% for i in pages.paginator.page_range %}
				{% if pages.number == i %}
				<li class="active blue darken-3"><a>{{ i }}</a></li>
				{% else %}
				<li class="waves-effect"><a href="{% url 'index' i %}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
			{% if pages.has_next %}
				<li class="waves-effect"><a href="{% url 'index' pages.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
			{% else %}
				<li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
			{% endif %}
		</ul></center>
		{% endif %}
    </div>
    <input type="hidden" id="refreshed" value="no">

	<script type="text/javascript">
		onload=function(){
			var e=document.getElementById("refreshed");
			if(e.value=="no")e.value="yes";
			else{e.value="no";location.reload();}
		}
	</script>
{% endblock %}

{% block js %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	<script type="text/javascript">
		var color = '';
		$('.palette').click(function() {
		    var x = $(this).css('backgroundColor');
		    hexc(x);
		    // alert(color);
		    var display = document.getElementById("display");
			display.style.background = color;

			var value = document.getElementById("pseudo");
			pseudo.value = color;
		})

		function hexc(colorval) {
		    var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
		    delete(parts[0]);
		    for (var i = 1; i <= 3; ++i) {
		        parts[i] = parseInt(parts[i]).toString(16);
		        if (parts[i].length == 1) parts[i] = '0' + parts[i];
		    }
		    color = '#' + parts.join('');
		}

	</script>
{% endblock %}