<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">view_headline</i></a>
            <!-- <a href="#" class="brand-logo right thin" title="bcgraphixx">Page Title</a> -->
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Profile</a></li>
                    <li><a class="waves-effect" href="{% url 'index' %}">Home</a></li>
                    <li><a class="waves-effect" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a class="waves-effect" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'profile' username %}">View</a></li>
        <li><a href="{% url 'edit' username %}">Edit</a></li>
    </ul>
</div>
<ul class="side-nav" id="mobile-demo">
    <li><center>MENU</center></li>
    {% if request.user.is_authenticated %}
        <li><a class="waves-effect" href="{% url 'profile' username %}"><i class="material-icons">perm_identity</i> View Profile</a></li>
        <li><a class="waves-effect" href="{% url 'edit' username %}"><i class="material-icons">info</i> Edit Profile</a></li>
        <li><a class="waves-effect" href="{% url 'index' %}"><i class="material-icons">assessment</i> Home</a></li>
        <li><a class="waves-effect" href="{% url 'logout' %}"><i class="material-icons">lock</i> Logout</a></li>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <li><a class="waves-effect" href="{% url 'login' %}"><i class="material-icons">lock</i> Login</a></li>
    {% endif %}
</ul>