{% load static %}
<html>
<head>
    <title>Log-in</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <div id="parent">
        <div id="wide">
            <div class="logo-page">
                <div class="logo-content">
                    <img src="{% static 'img/logo.png' %}"><br>
                    Create <strong>surveys</strong> and <strong>polls</strong> that match your <strong>budget</strong> and <strong>vision</strong>. <br><strong><i>Obsurv</i></strong> and meet new people.
                </div>
            </div>
        </div>
        <div id="narrow">
            <div class="login-page">
                <div class="form">
                    <form class="login-form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" id="username" value="{{ username }}"/>
                        <input type="password" placeholder="Password" name="password" id="password"/>
                        <p class="error">{{ error_message }}</p>
                        {{ success }}
                        <button>login</button>
                    </form>
                </div>
                <div class="form">
                    <form class="register-form" action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="First Name" name="first_name" value="{{ first_name }}"/>
                        <input type="text" placeholder="Last Name" name="last_name" value="{{ last_name }}"/>
                        <input type="username" placeholder="Username" name="username"/>
                        <input type="password" placeholder="Password" name="password"/>
                        <input type="password" placeholder="Confirm Password" name="confirm"/>
                        <input type="text" placeholder="E-mail Address" name="email"/>
                        <button>create</button>
                        <!-- <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
